.browseContent {
    height: 100%;
    border-radius: var(--mantine-radius-sm);
}

.browseFilter {
    padding: var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);

    background-color: light-dark(#FFFFFF, var(--mantine-color-dark-6));
    box-shadow: var(--mantine-shadow-lg);
}