.pasteWrapper {
    cursor: pointer;
    box-shadow: var(--mantine-shadow-sm);
    margin-bottom: var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-default);
}

.pasteHeader {
    padding: 5px;
    background-color: light-dark(#FFFFFF, var(--mantine-color-dark-5));
}